*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("bif_image.jpg");
    height: 80vh;
    
    background-size: cover;
    position: relative;
    
}
.main_photo{
   
    height: 80vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}  
nav{
    /* background-color: red;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: auto;
}
.photo{
    background-image: url("Netflix.png");
    height: 50px;
     width: 20vh; 
    background-size:cover;
    background-position: center  center;
    background-repeat: no-repeat;
    /*  to make the netflix logo come in original color without any filters that were used in navbar*/
    position: relative;
    z-index: 10;

}
 /*  to make the english and sign in button come in original color without any filters that were used in navbar*/
nav button{
    z-index: 10;
    position: relative;
}

.hero{
    color: white;
    height:92% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position =realtive will make the texts pop out in the screen without any filters*/
    position: relative;
    padding: 0 30px;
}
.hero:first-child{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
}
.hero:second-child{
    font-weight: bolder;
}
.hero input{
    height: 50px;
    width:350px ;
    border-radius: 20px;
    padding-left: 10px;
    color:rgb(255,255,255); 
    background-color: #0005;
}
/* we dont use hr here because the color will be white and we cant change it*/
.line{
    height: 2px;
    background-color: gray;
}
.red{
    height: 50px;
    width: 200px;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}
.white{
    color: black;
    background-color: white;
    width: 70px;
    height: 30px;
    margin-left: 10px;
    font-weight: bold;
}
.black{
    color:white;
    background-color: black;
    width: 200px;
    height: 30px;
}
h1{
    padding-left: 60px;
    color: rgb(222, 218, 218);
    margin-bottom: 20px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    text-align:center;
    color:#ffffffb3;
    /* border-left: 10px; */
}
.box1{
    height: 200px;
    width: 300px;
    background-color: rgb(48, 49, 49);
    font-size: 20px;
    border-radius: 20px;
    margin-right: 10px;

}
.box2{
    height: 200px;
    width: 300px;
    background-color: rgb(48, 46, 46);
    font-size: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.box3{
    height: 200px;
    width: 300px;
    background-color: rgb(49, 48, 48);
    font-size: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.box4{
    height: 200px;
    width: 300px;
    background-color: rgb(48, 48, 48);
    font-size: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
.box h3{
    color: white;
    padding: 16px;
}
#more{
    color: white;
    font-style: normal;
    padding: 60px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.line1{
    display: flex;
    height: 50px;
    width: 70rem;
    background-color:  rgb(48, 48, 48);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:20px;
     justify-content: space-between;
    padding-top: 15px;
    font-size: 25px;
    margin-left: 8.5rem;
    border-radius: 10px;
}
.line2{
    display: flex;
    height: 50px;
    width: 70rem;
    background-color:  rgb(48, 48, 48);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:20px;
    justify-content: space-between;
    padding-top: 15px;
    font-size: 25px;
    margin-left: 8.5rem;
    border-radius: 10px;
    
}
.line3{
    display: flex;
    height: 50px;
    width: 70rem;
    background-color:  rgb(48, 48, 48);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:20px;
    justify-content: space-between;
    padding-top: 15px;
    font-size: 25px;
    margin-left: 8.5rem;
    border-radius: 10px;
}
.line4{
    display: flex;
    height: 50px;
    width: 70rem;
    background-color:  rgb(48, 48, 48);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:20px;
    justify-content: space-between;
    padding-top: 15px;
    font-size: 25px;
    margin-left: 8.5rem;
    border-radius: 10px;
    border-radius: 10px;
}
.line5{
    display: flex;
    height: 50px;
    width: 70rem;
    background-color:  rgb(48, 48, 48);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top:20px;
    justify-content: space-between;
    padding-top: 15px;
    font-size: 25px;
    margin-left: 8.5rem; 
    border-radius: 10px;
}
p{
    color: white;
    text-align: center;
    padding-top: 30px;
}
.second{
    display: flex;
    justify-content: center;text-align: center;
}
.second input{
    width: 350px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #ffffffb3;
}
.second button{
    width: 200px;
    font-size: 20px;
}
#last{
    margin-left:  8.5rem;
    margin-top: 50px;
    color: rgb(170, 170, 170);
}
.foot_panel{
    padding-top: 20px;
    color: rgb(173, 169, 169);
    height: 180px;
    display: flex;
    justify-content:space-evenly;
}
ul{
    margin-top: 20px;
  }
  ul a{
    display: block;
    font-size: 0.90rem;
    margin-top: 10px;
    color: rgb(170, 170, 170);
    text-decoration: underline;
  }
  .last_but{
    margin-left: 9.5rem;
    height: 50px;
    width: 100px;
  }
  .last_but button{
    height: 40px;
    width: 120px;
    background-color:#0000;
    color: white;
    border-radius: 20px;

  }
  .last_but h3{
    padding-top: 30px;
    height: 200px;
    width:400px;
    color: #ffffffb3;
    font-size: medium;
  }